version: "3.8"

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: bookcoop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "Gjitkyf[eq102"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  backend:
    build:
      context: ./backend
    restart: unless-stopped
    tty: true
    stdin_open: true
    ports:
      - "8080:8080"
    environment:
      # URL с закодированным символом [
      DATABASE_URL: postgres://postgres:Gjitkyf%5Beq102@db:5432/bookcoop
    depends_on:
      - db
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend/nuxt-app
    restart: unless-stopped
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      WATCHPACK_POLLING: "true"
      NUXT_PUBLIC_API_BASE: http://localhost:8080
    volumes:
      - ./frontend/nuxt-app:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
